<div id="welcome_to">
  <h1>Welcome to the quizz</h1>

  <h1>Let's start...</h1>   

  Click on the button to receive the first tip!

  <br/>
  <%= button_tag "Give me a tip" , :id => "tip_button", :data_title => "#{Film.draw}" %>
  <br />
</div>
